@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

::selection {
  color: var(--white);
  background-color: var(--yellow);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  color: var(--gray-950);
  font-family: "Figtree";
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
}

article {
  gap: 24px;
  width: 279px;
  display: flex;
  padding: 24px;
  margin: 0 24px;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 var(--gray-950);
}

.image {
  width: 279px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: -25px 0;
  background-image: url("../assets/images/illustration-article.svg");
}

.content {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.tag {
  font-size: 12px;
  font-weight: 800;
  padding: 4px 10px;
  border-radius: 4px;
  width: fit-content;
  background-color: var(--yellow);
}

.published-date {
  font-size: 12px;
}

.title {
  font-size: 20px;
  font-weight: 800;
}

.paragraph {
  font-size: 14px;
  color: var(--gray-500);
}

.author {
  gap: 12px;
  display: flex;
  align-items: center;
}

.author img {
  width: 32px;
  height: 32px;
}

.author p {
  font-size: 14px;
  font-weight: 800;
}

.attribution {
  right: 5px;
  bottom: 5px;
  z-index: -1;
  position: fixed;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--white);
}

.attribution a {
  color: var(--gray-500);
}

@media screen and (min-width: 768px) {
  article {
    width: 336px;
  }

  .image {
    width: 336px;
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tag,
  .published-date {
    font-size: 14px;
  }

  .title {
    font-size: 24px;
  }

  .paragraph {
    font-size: 16px;
  }
}
